@use "src/assets/styles/theme" as *;

.container {
  padding: 0 18px;
  padding-bottom: 90px;
  max-width: 768px;
  margin: 0 auto;
}

@include screen-desktop {
  .container {
    padding-top: 90px;
    padding-bottom: 0;
  }
}
