.nav {
    --nav-radius: 12px;
    position: fixed;
    bottom: 0;
    inset-inline: 0;
    display: flex;
    color: white;
    height: 80px;
    background-color: #2e2f38;
    border-radius: var(--nav-radius) var(--nav-radius) 0px 0px;
    z-index: 100;
}
.nav h1 {
    display: none;
}
.nav ul {
    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
    // padding: 0px 24px;
}

.nav li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    font-size: 14px;
}



@media screen and (min-width: 768px) {
    .nav {
        --nav-radius: 0px;
        top: 0;
        bottom: auto;
        height: 60px;
        background-color: #151321;
        border-radius: 0px;
        justify-content: space-between;
        align-items: center ;
        padding: 0px 32px;
    }
    .nav ul {
        width: fit-content;
    }
    .nav h1 {
        display: block;

    }
    .nav li a {
        flex-direction: row;
        font-size: 18px;
        gap: 8px;

    }
    
}